html {
    font-size: 14px;

}

body {
    background-color: hsl(30, 38%, 92%)
}

h1 {
    display: none;
}




.container{
  flex-direction: row;
  display: flex;
  margin: 0 auto;
  padding: 210px 0;
}

.imgprod{
  background-size: 300px 450px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  height: 450px;
  margin-left: auto;
  width: 300px;
  

}


.textos-div{
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    height: 450px;
    margin-right: auto;
    padding: 30px 32px;
    width: 300px;
    
}




.titulo {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  margin-bottom: 1.4rem;
}

.nomeperfume{
    color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.7rem;
}

.descricao{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.preco{
    margin-bottom: 1.6rem;
}


.novo-preco{
    color: hsl(158, 36%, 37%); 
    font-family: "Fraunces", serif;
  font-size: 2.3rem;
  font-weight: 700;
}

.preco-velho{
    color: hsl(228, 12%, 48%);
    bottom: 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    left: 14px;
    position: relative;
    text-decoration: line-through;
}
 .adcionar-no-carrinho{
  background-color: hsl(158, 36%, 37%);
  background-color: hsl(158, 36%, 37%);  
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  width: 100%
 }

 .adcionar-no-carrinho:hover {
    background-color: #1a4031;
 }

 .fotocarrinho {
  bottom: 1px;
  margin-right: 8px;
  position: relative;
  width: 16px;
 }

 .atribuicao{
    font-size: 11px;
  text-align: center;
 }


 .atribuicao a {
    color: hsl(228, 45%, 44%);
 }


 @media only screen and (max-width: 620px) {

    .product-review {
      margin: 30px auto;
    }
  
    .img-div {
      background-image: url("./imagens/images/image-product-mobile.jpg");
      background-size: 340px 240px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 12px;
      height: 240px;
      margin-right: auto;
      width: 340px;
    }
    
    .text-div {
      border-bottom-left-radius: 12px;
      border-top-right-radius: 0;
      height: 370px;
      margin-left: auto;
      padding: 23px 26px;
      width: 340px;
    }
  
    .category {
      margin-bottom: 0.7rem;
    }
  
    .name {
      margin-bottom: 1.1rem;
    }
  
    .description {
      margin-bottom: 1.4rem;
    }
  
    .price {
      margin-bottom: 0.7rem;
    }
  
  }
  